In [4]:
import yfinance as yf
import pandas as pd
import numpy as ny

In [5]:
df =yf.download("NVDA")

[*********************100%***********************]  1 of 1 completed

In [6]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-01-22,0.437500,0.488281,0.388021,0.410156,0.376820,271468800.0
1999-01-25,0.442708,0.458333,0.410156,0.453125,0.416296,51048000.0
1999-01-26,0.458333,0.467448,0.411458,0.417969,0.383998,34320000.0
1999-01-27,0.419271,0.429688,0.395833,0.416667,0.382802,24436800.0
1999-01-28,0.416667,0.419271,0.412760,0.415365,0.381605,22752000.0
...,...,...,...,...,...,...
2021-10-11,205.750000,210.630005,205.110001,206.949997,206.949997,16338800.0
2021-10-12,208.279999,210.570007,205.279999,206.710007,206.710007,16213400.0
2021-10-13,209.179993,209.899994,207.130005,209.389999,209.389999,18065200.0
2021-10-14,212.880005,217.550003,211.220001,217.460007,217.460007,24358900.0
2021-10-15,218.100006,219.309998,216.619995,218.619995,218.619995,22679500.0

In [7]:
df['SMA200'] = df.Close.rolling(200).mean()

In [8]:
df['SMA5'] = df.Close.rolling(5).mean()

In [13]:
df['10d_low'] = df.Close.rolling(10).min()

In [15]:
df.dropna(inplace=True)

In [16]:
df

,Open,High,Low,Close,Adj Close,Volume,SMA200,SMA5,10d_low
Date,,,,,,,,,
1999-11-04,0.578125,0.623698,0.578125,0.608073,0.558651,126033600.0,0.427562,0.530208,0.427083
1999-11-05,0.625000,0.630208,0.559896,0.588542,0.540707,61636800.0,0.428454,0.555729,0.427083
1999-11-08,0.570313,0.622396,0.552083,0.605469,0.556258,47001600.0,0.429216,0.578906,0.427083
1999-11-09,0.604167,0.606771,0.572917,0.596354,0.547884,27235200.0,0.430107,0.594011,0.427083
1999-11-10,0.598307,0.598958,0.579427,0.591146,0.543099,14404800.0,0.430980,0.597917,0.427083
...,...,...,...,...,...,...,...,...,...
2021-10-11,205.750000,210.630005,205.110001,206.949997,206.949997,16338800.0,168.392600,207.503998,197.320007
2021-10-12,208.279999,210.570007,205.279999,206.710007,206.710007,16213400.0,168.776463,207.944000,197.320007
2021-10-13,209.179993,209.899994,207.130005,209.389999,209.389999,18065200.0,169.178413,208.422000,197.320007
2021-10-14,212.880005,217.550003,211.220001,217.460007,217.460007,24358900.0,169.618550,209.764001,197.320007
2021-10-15,218.100006,219.309998,216.619995,218.619995,218.619995,22679500.0,170.054363,211.826001,197.320007

In [ ]:
df['Buy'] = np.where((df.Close > df.SMA200) & (df['10d_low'].diff() < 0) &